@model Inventar.Models.Prodaja
<link rel="stylesheet" href="~/css/DeleteSale.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Delete";
}

<h1>@Inventar.Resources.Resource.DeleteSale</h1>

<h3>@Inventar.Resources.Resource.DeleteThis</h3>
<div>
    <hr />
    <table class="custom-table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <td>@Html.DisplayFor(model => model.Id)</td>
        </tr>
        <tr>
            <th>@Inventar.Resources.Resource.ProductID</th>
            <td>@Html.DisplayFor(model => model.TepihId)</td>
        </tr>
        <tr>
            <th>@Inventar.Resources.Resource.CustomerFullName</th>
            <td>@Html.DisplayFor(model => model.CustomerFullName)</td>
        </tr>
        <tr>
            <th>@Inventar.Resources.Resource.SaleTime</th>
            <td>@Html.DisplayFor(model => model.VrijemeProdaje)</td>
        </tr>
        <tr>
            <th>@Inventar.Resources.Resource.Quantity</th>
            <td>@Html.DisplayFor(model => model.Quantity)</td>
        </tr>
        <tr>
            <th>@Inventar.Resources.Resource.Seller</th>
            <td>@Html.DisplayFor(model => model.Prodavac)</td>
        </tr>
    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CustomerFullName" />
        <input type="hidden" asp-for="VrijemeProdaje" />
        <input type="hidden" name="returnUrl" value="@Context.Request.Query["returnUrl"]" />
        <input type="hidden" name="returnFromDetails" value="@ViewBag.ReturnFromDetails" />
        <input type="submit" value="@Inventar.Resources.Resource.Delete" class="btn btn-danger large-button" />
    </form>
</div>
<div>
    <a href="@ViewBag.ReturnUrl" class="btn btn-secondary btn-sm large-button" style="margin-top:1rem">@Inventar.Resources.Resource.BackToList</a>
</div>