@using Inventar.ViewModels.Buyer
@* @using Inventar.ViewModels.Shared*@
@model BuyerActivityViewModel 
@* List<BuyerActivityItem> *@

<table id="ActivitiesTable" class="table table-striped tabela">
    <thead>
        <tr>
            <th>#</th>
            <th>@Inventar.Resources.Resource.Time</th>
            <th>@Inventar.Resources.Resource.Type</th>
            <th>@Inventar.Resources.Resource.Amount</th>
            <th>@Inventar.Resources.Resource.SellerPaymentType</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Prethodni dug</td>
            <td>@Math.Round(Model.PastTotalDebt, 2)€ </td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var activity in Model.Activities)
        {
            if (activity.Disabled != true)
            {
                var rowClass = activity.Type == "Prodaja" ? "table-danger" : "table-success";
                <tr class="@rowClass">
                    <td></td>
                    <td>@activity.ActivityTime.ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@activity.Type</td>
                    <td>@Math.Round(@activity.Amount, 2)€ </td>
                    <td>@activity.Info</td>
                </tr>
            }
        }
    </tbody>
</table>