@model Inventar.Models.Kupac

@{
    ViewData["Title"] = "Delete";
}

<h1>@Inventar.Resources.Resource.DeleteBuyer</h1>

<h3>@Inventar.Resources.Resource.DeleteThis</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-4">
            @Inventar.Resources.Resource.CustomerFullName
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CustomerFullName)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Inventar.Resources.Resource.Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary btn-sm">@Inventar.Resources.Resource.BackToList</a>
    </form>
</div>