@using Inventar.ViewModels.Buyer
@model DeleteEditPaymentViewModel
<link rel="stylesheet" href="~/css/DeleteBuyer.css" asp-append-version="true" />

@{
    ViewData["Title"] = "DeletePayment";
}

<h1 class="bigFont">@Inventar.Resources.Resource.DeletePayment</h1>

<h3 class="naslov">@Inventar.Resources.Resource.DeleteThis</h3>
<div>
    <table class="custom-table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <td>@Html.DisplayFor(model => model.Id)</td>
        </tr>
        <tr>
            <th>@Inventar.Resources.Resource.CustomerFullName</th>
            <td>@Html.DisplayFor(model => model.CustomerName)</td>
        </tr>
        <tr>
            <th>@Inventar.Resources.Resource.Amount</th>
            <td>@Html.DisplayFor(model => model.Amount)</td>
        </tr>
        <tr>
            <th>@Inventar.Resources.Resource.PaymentTime</th>
            <td>@Html.DisplayFor(model => model.PaymentTime)</td>
        </tr>
        <tr>
            <th>@Inventar.Resources.Resource.PaymentType</th>
            <td>@Html.DisplayFor(model => model.PaymentType)</td>
        </tr>
    </table>
    <form asp-action="DeletePayment">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Inventar.Resources.Resource.Delete" class="btn btn-danger deleteBtn" />
    </form>
    <a class="btn btn-secondary btn-sm backToListBtn" style="margin-top:1rem" asp-action="PaymentHistory" asp-route-id="@Model.BuyerId">@Inventar.Resources.Resource.BackToList</a>
</div>