@model Inventar.Models.Kupac
<link rel="stylesheet" href="~/css/DeleteBuyer.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Delete";
}

<h1 class="bigFont">@Inventar.Resources.Resource.DeleteBuyer</h1>

<h3 class="naslov">@Inventar.Resources.Resource.DeleteThis</h3>
<div>
    <hr />
    <table class="custom-table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <td>@Html.DisplayFor(model => model.Id)</td>
        </tr>
        <tr>
            <th>@Inventar.Resources.Resource.CustomerFullName</th>
            <td>@Html.DisplayFor(model => model.CustomerFullName)</td>
        </tr>
    </table>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Inventar.Resources.Resource.Delete" class="btn btn-danger deleteBtn" /> |
        <a asp-action="Index" class="btn btn-secondary btn-sm backToListBtn">@Inventar.Resources.Resource.BackToList</a>
    </form>
</div>