@using Inventar.ViewModels.Buyer
@model DeleteEditPaymentViewModel
@{
    ViewData["Title"] = "EditPayment";
}

<h1>@Inventar.Resources.Resource.EditPayment</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="EditPayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="BuyerId" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label">@Inventar.Resources.Resource.CustomerFullName</label>
                <input asp-for="CustomerName" class="form-control" readonly />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">@Inventar.Resources.Resource.Amount</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row" style="height:100%; margin-left:1rem">
                    <div class="form-check col" style="display: flex; align-items: center;">
                        <input class="form-check-input" type="radio" name="PaymentType" asp-for="PaymentType" value="Cash" id="cash">
                        <label class="form-check-label" for="cash" style="padding-left:1rem">
                            @Inventar.Resources.Resource.Cash
                        </label>
                    </div>
                    <div class="form-check col" style="display: flex; align-items: center;">
                        <input class="form-check-input" type="radio" name="PaymentType" asp-for="PaymentType" value="Virman" id="virman" >
                        <label class="form-check-label" for="virman" style="padding-left:1rem">
                            Virman
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTime" class="control-label">@Inventar.Resources.Resource.PaymentTime</label>
                <input asp-for="PaymentTime" class="form-control" readonly />
                <span asp-validation-for="PaymentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Inventar.Resources.Resource.Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary btn-sm" asp-action="PaymentHistory" asp-route-id="@Model.BuyerId">@Inventar.Resources.Resource.BackToList</a>
</div>
<style>
    label {
        font-weight: 700;
        margin-bottom: 0.2rem;
    }
</style>