@model Inventar.Models.Tepih

@{
    ViewData["Title"] = "Delete";
}

<h1>@Inventar.Resources.Resource.DeleteProduct</h1>

<h3>@Inventar.Resources.Resource.DeleteThis</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-4">
            @Inventar.Resources.Resource.Name
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Inventar.Resources.Resource.ProductNumber
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ProductNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-4">
            @Inventar.Resources.Resource.DateTime
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class="col-sm-4">
            @Inventar.Resources.Resource.Quantity
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.QRCodeUrl)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.QRCodeUrl)
        </dd>
        <dt class="col-sm-4">
            @Inventar.Resources.Resource.Length
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class="col-sm-4">
            @Inventar.Resources.Resource.Width
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class="col-sm-4">
            @Inventar.Resources.Resource.Color
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-4">
            @Inventar.Resources.Resource.Price
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Inventar.Resources.Resource.Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List</a>
    </form>
</div>