@model Inventar.Models.Tepih
<link rel="stylesheet" href="~/css/Details.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Details";
}

<h1>@Inventar.Resources.Resource.Details</h1>

<table class="custom-table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <td>@Html.DisplayFor(model => model.Id)</td>
    </tr>
    <tr>
        <th>@Inventar.Resources.Resource.Name</th>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("superadmin")))
    {
        <tr>
            <th>@Inventar.Resources.Resource.ProductNumber</th>
            <td>@Html.DisplayFor(model => model.ProductNumber)</td>
        </tr>
    }
    <tr>
        <th>@Html.DisplayNameFor(model => model.Model)</th>
        <td>@Html.DisplayFor(model => model.Model)</td>
    </tr>
    <tr>
        <th>@Inventar.Resources.Resource.DateTime</th>
        <td>@Html.DisplayFor(model => model.DateTime)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.QRCodeUrl)</th>
        <td>
            @Html.DisplayFor(model => model.QRCodeUrl)
            <div>
                @if (!string.IsNullOrEmpty(Model.QRCodeUrl))
                {
                    <img src="@Model.QRCodeUrl" alt="QR Code" class="img-fluid rounded" style="max-height:150px;" />
                }
                else
                {
                    <span>N/A</span>
                }
            </div>
        </td>
    </tr>
    <tr>
        <th>@Inventar.Resources.Resource.Quantity</th>
        <td>@Html.DisplayFor(model => model.Quantity)</td>
    </tr>
    <tr>
        <th>@Inventar.Resources.Resource.Length</th>
        <td>@Html.DisplayFor(model => model.Length)</td>
    </tr>
    <tr>
        <th>@Inventar.Resources.Resource.Width</th>
        <td>@Html.DisplayFor(model => model.Width)</td>
    </tr>
    <tr>
        <th>@Inventar.Resources.Resource.Color</th>
        <td>@Html.DisplayFor(model => model.Color)</td>
    </tr>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("superadmin")))
    {
        <tr>
            <th>@Inventar.Resources.Resource.Price</th>
            <td>@Html.DisplayFor(model => model.Price)</td>
        </tr>
    }
    <tr>
        <th>@Inventar.Resources.Resource.PerM2</th>
        <td>@Html.DisplayFor(model => model.PerM2)</td>
    </tr>
    <tr>
        <th>@Inventar.Resources.Resource.Description</th>
        <td>@Html.DisplayFor(model => model.Description)</td>
    </tr>
</table>
<div>
    <a asp-action="Index" class="btn btn-secondary btn-sm" style="margin-top:1rem">@Inventar.Resources.Resource.BackToList</a>
</div>