@model IEnumerable<Inventar.ViewModels.ScannedProductViewModel>
@{
    ViewData["Title"] = "Scan QR Code";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>


<h2>@Inventar.Resources.Resource.ScanQRCode</h2>

<!-- QR code scanner UI -->
<div id="qr-reader" style="width:500px;"></div>
<div id="result"></div>
<form id="myForm" asp-action="ManuallyAddProduct" method="post" style="margin-top:1rem">
    <input type="number" id="manualId" name="id" style="vertical-align:middle" />
    <button type="submit" style="vertical-align:middle">@Inventar.Resources.Resource.ManuallyEnterId</button>
</form>
@if(Model != null)
{
    <table id="productTable" class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">@Inventar.Resources.Resource.ProductNumber</th>
                <th scope="col">@Inventar.Resources.Resource.Name</th>
                <th scope="col">Model</th>
                <th scope="col">@Inventar.Resources.Resource.Size</th>
@*                 <th scope="col">Length</th>
                <th scope="col">Width</th> *@
                <th scope="col">@Inventar.Resources.Resource.M2PerProduct</th>
                <th scope="col">@Inventar.Resources.Resource.M2Total</th>
                <th scope="col">@Inventar.Resources.Resource.Color</th>
                <th scope="col">@Inventar.Resources.Resource.Price</th>
                <th scope="col">@Inventar.Resources.Resource.Quantity</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="vertical-align:middle" data-id="@item.Id">
                    <th scope="row">
                        @item.Id
                    </th>
                    <td>
                        @item.ProductNumber
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Model
                    </td>
                    <td style="white-space: nowrap">
                        @item.Length X @item.Width
                    </td>
@*                     <td>
                        @item.Length
                    </td>
                    <td>
                        @item.Width
                    </td> *@
                    <td class="perUnit">
                        @item.M2PerUnit
                    </td>
                    <td id="m2Total-@item.Id" class="total">
                        @item.M2Total
                    </td>
                    <td>
                        @item.Color
                    </td>
                    <td>
                        @item.Price €
                    </td>
                    <td id="quantity-@item.Id">
@*                         <input type="number" class="quantity" value="@item.Quantity">
 *@                        @item.Quantity
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm update-quantity" data-id="@item.Id" data-action="decrease">-</button>
                        <button class="btn btn-primary btn-sm update-quantity" data-id="@item.Id" data-action="increase">+</button>
                    </td>
                    <td>
                        <form asp-action="DeleteScannedProduct" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-secondary @(Model.Any() ? "" : "disabled-link")" href="/InventoryItem/ScannedProductsToBePurchased">@Inventar.Resources.Resource.Complete</a>

}
//NE BRISATI
@* <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
 *@<script src="https://unpkg.com/html5-qrcode@2.3.8/html5-qrcode.min.js"></script>
<script>

    // Define callback for successful QR code scan
    function onScanSuccess(qrCodeMessage) {
        // Display the QR code message
        document.getElementById('result').innerHTML = `<strong>QR Code Result: </strong> ${qrCodeMessage}`;

        // window.location.href = `/InventoryItem/ProcessQRCode?data=${qrCodeMessage}`;
        fetch(`/InventoryItem/ProcessQRCode?data=${qrCodeMessage}`)
            .then(response => {
                if (response.ok) {
                    window.location.href = `/InventoryItem/QRCodeScanning`; // Redirect after success
                }
            });

        // Optional: Handle the result (e.g., send to backend or redirect)

    }

    // Define callback for scan errors
    function onScanError(errorMessage) {
        console.warn(`QR Code scan error: ${errorMessage}`);
    }

    // Initialize the Html5QrcodeScanner
    var html5QrcodeScanner = new Html5QrcodeScanner("qr-reader", { fps: 10, qrbox: 250 });
    html5QrcodeScanner.render(onScanSuccess, onScanError);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Increase or decrease quantity
        $(".update-quantity").click(function () {
            var itemId = $(this).data("id");
            var action = $(this).data("action");

            $.ajax({
                url: "/InventoryItem/UpdateQuantity",
                type: "POST",
                data: { id: itemId, action: action },
                success: function (newQuantity) {
                    $("#quantity-" + itemId).text(newQuantity.qty);
                    $("#m2Total-" + itemId).text(newQuantity.m2Total);// Update quantity on UI
                },
                error: function () {
                    alert("Error updating quantity.");
                }
            });
        });
    });
</script>
<script>
    document.getElementById("myForm").addEventListener("submit", function (e) {
        var idInput = document.getElementById("manualId").value.trim();

        if (idInput === "") {
            e.preventDefault(); // Prevent form submission
            document.getElementById("errorMessage").textContent = "Name field cannot be empty!";
        }
    });
</script>
<style>
    .update-quantity{
        margin-bottom: 0.2rem;
        width: 2rem;
    }
    td, th{
        text-align:center;
    }

    .disabled-link {
        pointer-events: none;
        color: gray;
        text-decoration: none;
    }

    div.settings {
        display: grid;
        grid-template-columns: max-content max-content;
        grid-gap: 5px;
        margin-bottom: 1rem
    }

        div.settings label {
            text-align: right;
        }

            div.settings label:after {
                content: ":";
            }
</style>