<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inventar.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inventar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" 
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarToggleExternalContent">
                    <ul class="nav nav-tabs" style="border-bottom:none !important">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item ">
                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Logout">
                                    <button class="btn btn-sm btn-outline-danger">@Inventar.Resources.Resource.Logout</button>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ">
                                <a class="nav-link  @(ViewData["ActivePage"] as string == "Home" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">@Inventar.Resources.Resource.Login</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">@Inventar.Resources.Resource.Inventory</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="InventoryItem" asp-action="Index" data-loading="true">@Inventar.Resources.Resource.QRCodes</a></li>
                                    @if (User.IsInRole("admin") || User.IsInRole("superadmin"))
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="InventoryItem" asp-action="Create">@Inventar.Resources.Resource.CreateProduct</a></li>
                                    }
                                </ul>
                            </li>
                            @if (User.IsInRole("admin") || User.IsInRole("superadmin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">@Inventar.Resources.Resource.Sales</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Sales" asp-action="Index" data-loading="true">@Inventar.Resources.Resource.SalesGrouped</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Sales" asp-action="AllSales" data-loading="true">@Inventar.Resources.Resource.Sales</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Sales" asp-action="PerProducts">@Inventar.Resources.Resource.PerProducts</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Sales" asp-action="PerDay">@Inventar.Resources.Resource.PerDay</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Buyer" asp-action="Index" data-loading="true">@Inventar.Resources.Resource.Buyers</a>
                                </li>
                            }
                            @if (User.IsInRole("admin") || User.IsInRole("employee") || User.IsInRole("superadmin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/InventoryItem/QRCodeScanning">Scan QR</a>
                                </li>
                            }
                            @if (User.IsInRole("admin") || User.IsInRole("superadmin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">@Inventar.Resources.Resource.Accounts</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Register" data-loading="true">@Inventar.Resources.Resource.CreateAccount</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AllAccounts" data-loading="true">@Inventar.Resources.Resource.AllAccounts</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Sales" asp-action="DisableOldYearView" data-loading="true">@Inventar.Resources.Resource.DeleteRecords</a></li>
                                    </ul>
                                </li>
                            }
                        }

                        <li class="nav-item ms-auto d-flex align-items-center">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle btn btn-sm btn-primary py-1 px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @if (Thread.CurrentThread.CurrentCulture.ToString() == "en")
                                    {
                                        <span>English</span>
                                    }
                                    else
                                    {
                                        <span>Crnogorski</span>
                                    }
                                </a>

                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-lang="en">English</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-lang="sr-Latn">Crnogorski</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid" style="margin-bottom:1rem; margin-left:0; margin-right:0;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div id="loading-spinner" class="spinner-wrapper" style="display:none; text-align: center;">
        <div class="spinner-border text-danger" role="status">
            <span class="sr-only" id="loadingText"></span>
        </div>
        <div style="color:firebrick; font-size:larger">@Inventar.Resources.Resource.Searching</div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const links = document.querySelectorAll('a[data-loading="true"]');
            links.forEach(link => {
                link.addEventListener("click", function (e) {
                    document.getElementById("loading-spinner").style.display = "flex";

                });
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
<style>
    .spinner-wrapper {
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 0.2s;
    }

    .spinner-border {
        height: 90px !important;
        width: 90px !important;
        animation-timing-function: ease !important;
    }

    input[readonly] {
        background-color: #f0f0f0; /* Light grey background */
        border: 1px solid #ccc; /* Optional: subtle border */
        color: #555; /* Dim the text color slightly */
        font-style: italic; /* Optional: makes it clear it's informational */
        cursor: not-allowed; /* Indicates it can't be edited */
    }

    td {
        text-align: center !important;
        vertical-align: middle !important;
    }

    th {
        text-align: center !important;
        vertical-align: middle !important;
    }

    col {
        border-style: ridge;
    }

    select {
        margin-right: 0.5rem;
    }

    .tabela{
        margin: 0;
        width: 100% !important;
    }
</style>