<div class="text-center">
    <h1>@Inventar.Resources.Resource.PasswordResetSuccessfully</h1>
    <p>@Inventar.Resources.Resource.YourPasswordHasBeenResetSuccessfully. @Inventar.Resources.Resource.YouCanNow <a href="/Home">@Inventar.Resources.Resource.toLogin</a> @Inventar.Resources.Resource.WithYourNewPassword.</p>
</div>